{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}


    {% if produits is empty %}

      <h1 class="text-center">Il n'y pas d'article pour le moment il faut en ajouter : <a href="{{path('produits')}}"> ici</a></h1>

        {% else %}



<table class="table">
    <thead>
    <tr>
        <th>Produit</th>
        <th>Prix</th>
        <th>Stock</th>
        <th>Image</th>
        <th>Supprimer</th>
        <th>Statut</th>
    </tr>
    </thead>
    <tbody>




    {% for panier in paniers %}

        <tr>
            <td><a href="{{path('produit', {'id': panier.produit.id})}}">{{panier.produit.nom}}</a></td>
            <td> {{ panier.produit.price }}</td>
            <td>{{ panier.produit.stock}}</td>
            <td><img style="width:100px" src="{{ asset(asset('uploads/'~ panier.produit.photo)) }}" alt=""></td>
            <td><a href="{{path('panier_delete', {'id': panier.id})}}"><button class="btn btn-danger">Supprimer du panier</button></a></td>

            {% if panier.state == false %}

            <td><p class="text-danger">Pas encore acheté</p></td>


                {% else  %}

                    <td><p class="text-succes">Achete</p></td>

            {% endif %}

        </tr>


        {% endfor %}

    {% endif %}


    {% if produits is not empty %}

    <h1 class="text-center">Ajouter un produit au panier</h1>

    {{ form(addPanier) }}



    <h1>Mon Panier</h1>

    <h3>Vous avez : {{ paniers | length }} articles</h3>


        {% else %}

        Vous avez 0 articles

    {% endif %}


{% endblock %}
