{% extends 'base.html.twig' %}

{% block title %}Page produits{% endblock %}

{% block body %}


    <table class="table">
    <thead>
    <tr>
        <th>Produit</th>
        <th>Prix</th>
        <th>Stock</th>
        <th>Image</th>
        <th>Supprimer</th>
    </tr>
    </thead>
    <tbody>


    <h1 class="text-center">Page Produits</h1>

    {% if produits is not empty %}
        {% for produit in produits %}

                    <tr>
                        <td><a href="{{path('produit', {'id': produit.id})}}">{{ produit.nom }}</a></td>
                        <td> {{ produit.price }}</td>
                        <td>{{ produit.stock}}</td>
                       <td><img style="width:100px" src="{{ asset(asset('uploads/'~ produit.photo)) }}" alt=""></td>
                        <td><a href="{{path('produit_delete', {'id': produit.id})}}"><button class="btn btn-danger">Supprimer</button></a></td>
                    </tr>

        {% endfor %}

        </tbody>
        </table>

    {% endif %}





    <h1 class="text-center">Ajouter un produit à la base</h1>
    {{ form(addProduits) }}

{% endblock %}
